* {
  box-sizing: border-box;
}
body {
  display: block;
  font-family: "";
  background-color: white;
  position: relative;
}

/* <!-- 1 гифка с розовой строкой --> */

#stroka1 {
  width: 100%;
  height: 75px;
}
.stroka1-1 {
  height: 100%;
  width: 100%;
  background-image: url("../images/1.1stroka.svg");
  animation: strokagif 4s infinite steps(1);
}

/* <!-- глаза --> */
/* .eyes1 {
  position: relative;
  width: 100%;
  height: 40%;
}
.eyes1-1 {
  position: absolute;
  width: 100%;
  height: 40%;
  top: 5%;
  left: 2%;
} */

/* <!-- зрачки задние соо --> */

.back {
  width: 100%;
  height: 51.1vw;
}
.msg1 {
  position: absolute;
  padding-top: 7.8vw;
  padding-left: 22.8vw;
}
.msg2 {
  position: absolute;
  padding-top: 21vw;
  padding-left: 5vw;
}
.msg3 {
  position: absolute;
  padding-top: 27vw;
  padding-left: -2vw;
}
.msg4 {
  position: absolute;
  padding-top: 20.5vw;
  padding-left: 54.6vw;
}
.msg5 {
  position: absolute;
  padding-top: 14.8vw;
  padding-left: 65.3vw;
}
.eyes {
  position: absolute;
  width: 99vw;
  /* height: 39vw; */
  padding-top: 14vw;
  z-index: 2;
  /* padding-left: 22.8vw; */
}
